<!doctype html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="/chat.css">
</head>
<body>
<div id="container">
    <span id="username"><%= user.local.username %></span>
    <!--<header>
        <h2>Hello <span id="username"><%= user.local.username %></span>!</h2>
        <p>Not you? <a href="/logout">Log out</a></p>
    </header>-->
    <ul id="messages"></ul>
    <form action="">
        <!--<input type="text" id="newMessage" autocomplete="off"/>-->
        <textarea id="newMessage"></textarea>
        <button>Send</button>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io().connect(/*'http://localhost:3000'*/);
    var username = $('#username').text();
    socket.emit('user join', username);
    $('form').submit(function(){
        var msg = {
            username: username,
            message: $('#newMessage').val(),
            date: Date.now()
        }

        console.log(msg);
        socket.emit('chat message', msg);
        $('#newMessage').val('');
        return false;
    });
    socket.on('user join', function(user) {
        $('#messages').append($('<li>')).append($('<div class="msg">')).append($('<p>')).text(user + " joined");
    })
    socket.on('chat message', function(msg){
        var messagesList = $("#messages");
        var lastMsgSender = $("ul li").last().find("div").data('sender');
        messagesList.append($('<li>'));
        var lastMsgLi = $( "li" ).last();
        if (lastMsgSender != msg.username) {
            lastMsgLi.append($('<p class="sender">').text(msg.username));
            //lastMsgLi.append($('<br>'));
        }
        lastMsgLi.append($('<div class="msg" data-sender="' + msg.username + '">').append($('<p>').text(msg.message)));
    });
</script>
</body>
</html>