<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Unnamed Chat-App</title>
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="signup.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
</head>
<body>
<div id="container">

    <div class="">

        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <form action="/login" method="post">
            <div class="">
                <label>Email</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="">Login</button>

        </form>

        <p>Don't have an account yet? <a href="/signup">Sign up</a></p>

    </div>

</div>
</body>
</html>